<nav class="navbar navbar-default">
  <div class="copyright-container">
    <div>© 2020 Copyright: <a href="https://kurtkrieger.com/">KurtKrieger.com</a></div>
    <div><a href="https://github.com/udemyrailscourse/tddror5railsudemy" target="_blank">Instructor's Repo</a></div>
    <div><a href="https://github.com/kurtkrieger/myrecipes" target="_blank">Kurt's Repo</a></div>
  </div>
</nav>